
<h1>Lista de generos</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
  <%@lists.each do |list|%>
    <tr>
      <th scope="row"> <%=list.id%> </th>
      <td><%= list.name %></td>
      <td><button class="btn"><%= link_to "Show list", list_path(list) %></button></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div>
  <button class="btn"><%= link_to "Create a list", new_list_path %></button>
</div>
