<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(banner.jpg);">
  <div class="container">
    <h1>Las mejores peliculas a tu disposicion!</strong>!</h1>
  </div>
</div>
<div class="container">
  <h2>Lista de generos</h2>
  <div class="row">
    <%@lists.each do |list|%>
      <%= link_to list_path(list) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(card.jpg)">
          <h2><%= list.name %></h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
